<!DOCTYPE html>
<html>
<%- include ./partials/menu.ejs %>

<head>
  <meta charset="utf-8">
  <title>Data Resto</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css">
  <link rel="stylesheet" href="stylesheets/canvas.css">
</head>

<body>
  <div class="content" id="container">
    <h4 align='center'>Data Resto</h4>
    <hr>
    <form class="" action="/users/add" method="post">
      <table class="striped" style="width:80%" align='center'>
        <thead>
          <tr>

            <td><b>ID</b></td>
            <td><b>NAME</b></td>
            <td><b>CATEGORY</b></td>
            <td><b>PICTURE</b></td>
            <td><b>FOODCOURT</b></td>
            <td><b>ACTION</b></td>

          </tr>
        </thead>
        <tbody>

          <%
              resto.forEach((value)=>{
            %>
            <tr>

              <td>
                <%= value.id%>
              </td>
              <td>
                <%= value.name%>
              </td>
              <td>
                <%= value.category%>
              </td>
              <td>
                <%= value.picture%>
              </td>
              <td>
                <%= value.Foodcourt.name %>
              </td>
              <td><a href="/users/edit-resto/<%=value.id%>">EDIT</a> | <a href="/users/delete/<%=value.id%>" onclick="confirm('Are you Sure want to delete?')">DELETE</a></td>

            </tr>
            <%
            })
            %>
        </tbody>
      </table>

    </form>
  </div>
</body>

</html>
